                    
<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="login-container">
        <div class="login-section">
            <h1>Choose Account Type</h1>
            <div class="account-type">

                <a href="/teacher/login">
                    <div id="teacher" class="active">
                        <img src="/img/teacher.png" alt="Teacher">
                    <p>Teacher</p>
                    </div>
                </a>
                <a href="/student/login">
                    <div id="student">
                        <img src="/img/student.png" alt="student">
                        <p>Student</p>
                    </div>
                </a>
            </div>

            <form action="/teacher/login" method="post">
                <div>
                     <!-- display error message from login in passport -->
                    <% if (error) { %>
                        <p style="color: red;">
                            <%= error %>
                        </p>
                        <% } %>

                    <!-- display success message of login-->
                    <% if (success_msg) { %>
                        <p style="color: green;">
                            <%= success_msg %>
                        </p>
                        <% } %>
                </div>
                <input type="email" id="email" placeholder="Teacher Email" name="email">
                <input type="password" id="password" placeholder="Teacher Password" name="password">
                <div class="forgot-signup">
                    <a href="#">Forget password?</a>
                </div>
                <button type="submit">Login as a Teacher</button>
            </form>
        </div>
        <div class="signup-section">
            <h2>New Here?</h2>
            <p>Sign up and discover a great amount of new opportunities!</p>
            <a href="/teacher/register"><button>Sign Up as a teacher</button></a>
            <a href="/student/register"><button>Sign Up as a student</button></a>
        </div>
    </div>
</body>