<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resource_sharing.css">
</head>
<body>
    <div class="header">
        <a href="/attendance_sheet/all"><h4 style="padding-left: 20px;padding-right: 20px;">Attendance Sheet</h4></a>
        <h4>Course Tracker</h4>
        <h4>Assignment</h4>
        <div style="background-color: #45a049; border-radius: 10px;">
            <h4 style="padding-right: 20px;padding-left: 20px;">resourse Sharing</h4>
        </div>
    </div>
</body>
</html>