body {
    font-family: sans-serif;
    margin: 1.5%;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(163, 156, 156);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    height: 60px;
    overflow: hidden;
}

.nav-item {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
}

.nav-item:hover {
    color: #272626;
    transform: scale(1.15);
    transition: 0.3s ease, transform 0.3s ease;
}

.slider {
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 20%;
    background: #4cd4a2;
    /* transition: left 0.3s ease; */
}