body {
    font-family: fantasy;
    font-size: 20px;
    margin: 20px;
    margin-top: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: darkslategray;
    color: white;
    align-content: center;
}

.header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}