body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* .login-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
} */



.login-container {
    display: flex;
    width: 800px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.login-section {
    width: 60%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-section {
    width: 40%;
    background: linear-gradient(135deg, #2D9078, #2F868C);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}



.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.account-type {
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 1 px;
}

.account-type div {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

.account-type div.active {
    border-color: #007BFF;
}

.account-type div img {
    width: 100px;
    height: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.forgot-signup {
    display: flex;
    justify-content: right;
    font-size: 12px;
}

button {
    background-color: #20907A;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.signup-section button {
    background: #181A1B;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #20907A;
    color: white;
}

.signup-section button:hover {
    background: #fff;
        color: #20907A;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}