<!-- for error message that we wnat to show to the user -->
<% if (error_msg) { %>
    <p style="color: red;">
        <%= error_msg %>
    </p>
    <% } %>



<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="login-container">
        <div class="login-section">
            <h1>Choose Account Type</h1>
            <div class="account-type">
                <a href="/teacher/login">
                    <div id="teacher">
                         <img src="/img/teacher.png" alt="Teacher">
                        <p>Teacher</p>    
                    </div>
                </a>
                <a href="/student/login">
                    <div id="student" class="active">
                        <img src="/img/student.png" alt="student">
                        <p>Student</p>
                    </div>
                </a>
            </div>

            <form action="/student/login" method="post">
                <div>
                    <!-- display error message for login from passport-->
                    <% if (error) { %>
                        <p style="color: red;">
                            <%= error %>
                        </p>
                        <% } %>
                
                    <!-- display success message -->
                    <% if (success_msg) { %>
                        <p style="color: green;">
                            <%= success_msg %>
                        </p>
                        <% } %>
                </div>
                <input type="email" id="email" placeholder="Student Email" name="email" required>
                <input type="password" id="password" placeholder="Student Password" name="password" required>
                <div class="forgot-signup">
                    <a href="#"></a>
                    <a href="#">Forget password?</a>
                </div>
                <button type="submit">Login as a Student</button>
            </form>
        </div>
        <div class="signup-section">
            <h2>New Here?</h2>
            <p>Sign up and discover a great amount of new opportunities!</p>
            <a href="/teacher/register"><button>Sign Up as a teacher</button></a>
            <a href="/student/register"><button>Sign Up as a student</button></a>
        </div>
    </div>
</body>