<!DOCTYPE html>
<head>
    <title>Course Tracker</title>
    <link rel="stylesheet" href="/course_pages_navbar.css">
    <link rel="stylesheet" href="/course_tracker.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    
    <div class="course-tracker">
        <h2>Course Tracker</h2>
        <p>Course Name: <%= course_name %></p>
        <p>Here you can track the progress of your course.</p>
    </div>
</body>
</html>


