<!DOCTYPE html>
<head>
    <title>
        <%= page.charAt(0).toUpperCase() + page.slice(1) %>
    </title>
    <link rel="stylesheet" href="/course_pages_navbar.css">
</head>

<body>
    <%- include('partials/navbar', { page: page }) %>
        <main>
            <%- include(`${page}`) %>
            <% if (page==='attendance_sheet_all' ) { %>
                <%- include('../attendance/attendance_sheet') %>     <% } %>
        </main>
</body>

</html>